@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @Styles.Render("~/Content/Login.css")
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="login-container">
                    <img src="~/img/avatar-img.png" alt="avatar" class="avatar-container">
                    <form action="@Url.Action("Login","Acceso")" method="post">
                        <h2>Bienvenido</h2>
                        <div class="input-div one">
                            <div class="i">
                                <i class="fas fa-user"></i>
                            </div>
                            <div>
                                <h6>Correo</h6>
                                <input class="input" type="email" name="correo" />
                            </div>
                        </div>
                        <div class="input-div two">
                            <div class="i">
                                <i class="fas fa-lock"></i>
                            </div>
                            <div>
                                <h6>Contraseña</h6>
                                <input class="input" type="password" name="clave" />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Ingresar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>

    <script>
        const forms = document.querySelectorAll('input');

        function focusFuncion() {
            let parent = this.parentNode.parentNode;
            parent.classList.add('focus');
        }

        function quitarFuncion() {
            let parent = this.parentNode.parentNode;
            if (this.value == "") {
                parent.classList.remove('focus');
            }
        }

        forms.forEach(input => {
            input.addEventListener('focus', focusFuncion);
            input.addEventListener('blur', quitarFuncion);
        });
    </script>
</body>
</html>
